* {
    margin: 0;
    padding: 0;
   
}

body {   
    background-image: linear-gradient( to top, #0b70bd, transparent), url(salaAula.JPG);
    color: #ffffff;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    
    

    }

.total {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 180px;

}
header {
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #033d69;
    padding: 20px;
}

li {
    list-style: none;
    font-size: 35px;
    margin: 25px;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
}

button {
    margin: 10px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    width: 180px;
    height: 40px;
    border-radius: 8px;
    background: #0f207d;
    
    color: #ffffff;
    cursor: pointer;
    
}
.resultadoAprov {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    padding: 10px;
    color: #ffffff;
}
.imput {
    width: 80px;
    height: 23px;

}

.resultado{
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
}
.aprovado {
    color: green;
    font-size: 30px;
    
    
}

.reprovado {
    color: red;
    font-size: 30px;
    
}