* {
    margin: 0;
    padding: 0;
   
}

body {   
    background-color: #576de6;
    color: #ffffff;
    
    
    }

.total {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 160px;

}
header {
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #071040;
    padding: 20px;
}

li {
    list-style: none;
    font-size: 20px;
    margin: 25px;
    font-family: 'Josefin Sans', sans-serif;
}

button {
    margin: 10px;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    width: 150px;
    height: 25px;
    border: solid 1px #c6c6c6;
    background: #0f207d;
    
    color: #ffffff;
    cursor: pointer;
    
}
.resultadoAprov {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}
.imput {
    width: 60px;
    height: 18px;

}

.resultado{
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
}
.aprovado {
    color: green;
    
}

.reprovado {
    color: red;
    
}